body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: #eaeaea;
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 12px 25px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.products {
  padding: 60px 20px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
    .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

  background: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}
